Source: system-grub-theme
Section: main
Priority: optional
Maintainer: Stephane Tsana <stephanetse@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://kaytime.github.io

Package: system-grub-theme
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, grub-common
Description: GRand Unified Bootloader, version 2 (Kaytime OS theme)
 This is the default theme for GRUB's graphical menu.
